<div class="d-flex flex-column justify-content-start align-items-stretch">
  <app-header (toggleSidenav)="drawer.toggle()"/>
  <mat-drawer-container class="app-container d-flex flex-row justify-content-between align-items-stretch" [hasBackdrop]="false">
    <mat-drawer #drawer mode="side" opened class="app-container__drawer">
      <app-calendar/>
    </mat-drawer>
    <mat-drawer-content class="app-container__content d-flex flex-column justify-content-start align-items-stretch col p-2">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
  <app-snackbar></app-snackbar>
</div>
