@use "sass:map";
@use '@angular/material' as mat;

$accent-palette: (
  50 : #e5e8f2,
  100 : #bec6e0,
  200 : #92a0cb,
  300 : #6679b6,
  400 : #465da6,
  500 : #254096,
  600 : #213a8e,
  700 : #1b3283,
  800 : #162a79,
  900 : #0d1c68,
  A100 : #9ca9ff,
  A200 : #697cff,
  A400 : #3650ff,
  A700 : #1c3aff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
) !default;

$primary-palette: (
  50 : #e0f2f0,
  100 : #b3deda,
  200 : #80c8c1,
  300 : #4db1a8,
  400 : #26a196,
  500 : #009083,
  600 : #00887b,
  700 : #007d70,
  800 : #007366,
  900 : #006153,
  A100 : #91ffec,
  A200 : #5effe3,
  A400 : #2bffda,
  A700 : #12ffd6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
) !default;

$primary-color: map.get($primary-palette, 500);
$accent-color: map.get($primary-palette, 500);
